body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 40px;
    font-size: 1em;
}

h1{
    margin-top: normal;
}


img{
    border-radius: 10%;
    height: 150px;
}

.contenedor {
    background-image: url('./Background.jpg');
    background-size:  300px;
    overflow: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main * {
    margin-bottom: 12px;

}

input[name="Name"]{
    font-size: large;
    outline: none;
    border: none;
    border-bottom: 1px solid #007b3e;
}

button{
    background: blue;
    color: #ffff;
    font-size: .8em;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 20px;
    cursor: pointer;
}